<!DOCTYPE HTML>
<!-- src/DrankProject/Presentation/DrankenAutomaat.php --> 
 
    <head> 
        <meta charset=utf-8> 
        <title>Drankenautomaat</title> 
        <link rel="stylesheet" href="css/styling.css">
    </head> 
    <body> 
        
        <header class="clearfix">
            <div class="header clearfix"><h1>Drankenautomaat</h1></div>
        </header>
        <section class="wrappercontent">
            <div>
                <div class="content clearfix">
                    <ul>
                        <li>
                            <a href="index.php?bedrag=0.10">&euro;0,10</a>       
                        </li>
                        <li>
                            <a href="index.php?bedrag=0.20">&euro;0.20</a>
                        </li>
                        <li>
                            <a href="index.php?bedrag=0.50">&euro;0.50</a>
                        </li>
                        <li>
                            <a href="index.php?bedrag=1">&euro;1.00</a>
                        </li>
                        <li>
                            <a href="index.php?bedrag=2">&euro;2.00</a>
                        </li>
                    </ul> 
                    <p>Uw totaal : {{totaal}}&euro;</p><br /><br />
                 
        {% if check %}
            Weergave :
            {% for wissel, aantal in wisselgeld %}<br />
                {{aantal}} x &euro;{{wissel}} 
            {% endfor %}
        {% endif %}
            
        <h1>Kies uw drank</h1>
        {% if errorVoorraad %}
            <p>De voorraad van deze drank is op, Maak een andere keuze !</p><br />
        {% endif %}
        {% for drank in drankenlijst %}
        <a href="index.php?keuze={{drank.id}}">{{drank.dranknaam}}</a><br/>
        {% endfor %}<br/><br />
                 </div>
                </div>
    <div>
        <form method="post" action="index.php?action=login"> 
            <table> 
                <tr> 
                    <td>Gebruikersnaam : </td> 
                    <td> 
                        <input type="text" name="txtGebruiker" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td>Paswoord : </td> 
                    <td> 
                        <input type="password" name="txtPaswoord" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td></td> 
                    <td> 
                        <input type="submit" value="Aanmelden" /> 
                    </td> 
                </tr> 
            </table> 
        </form>  

    </div>
        {% if errorLogin %}
            <p>Foutieve login !</p><br />
        {% endif %}         
            
        </section>
         
    </body>  

    
    
    
   <!-- <h2>Beschikbare frisdranken:</h2>

            {%for frisdrank in frisdrankenLijst%}
                <div class="artikel">Beschrijving:{{frisdrank.beschrijving}}<br/> Prijs:{{frisdrank.prijs}}&euro;<br/> Aantal:{{frisdrank.aantal}}<br/></div>

                {%if bijvullen%}
                    <form method="POST" action="adminController.php?action=voegtoe&artikel={{frisdrank.beschrijving}}">
                        <input type="number" name="aantalBijvullen" /><br/>
                        <input type="submit" value="Voeg toe" />
                    </form>
                {%endif%}
                <hr>
            {%endfor%}
            
            {%if errorTeHoog%}
                te hooog
            {%endif%}    
            <h2>Acties:</h2>
            <nav>
                <ul>
                    <li><a href="adminController.php?action=voegtoe">Bijvullen</a></li>
                    <li><a href="adminController.php?action=logout">Afmelden</a></li>
                </ul>
            </nav>-->